.navbar__wrapper{
    text-align: center;
    background-color: rgb(27, 27, 27);
}
.navbar{
    background-color: #15b6b8;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navbar__img{
    max-width: 100%;
}
.navbar__links{
    display: flex;
    gap: 2%;
    justify-content: center;
    a {
        text-decoration: none;
        font-size: 2em;
        color: white;
    }
}