body{
    margin: 0;
    font-family: cursive;
}
.app__wrapper{
    min-height: 1000px;
    border: 10px solid #15b6b8;
    border-top: 0;
    border-bottom: 0;
    padding: 1.2em;
    background-image: url('../assets/ramFont.jpg');
}
.card-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3%;
    row-gap: 15px;
}
.card-item{
    width: 31%;
    border: black solid 2px;
    background-color: rgb(2, 194, 208);
}
.card__image{
    width: 100%;
}
.form-wrapper{
    width: 90%;
    margin-left: 5%;
    display: grid;
}
.error-message{
    background-color: red;
}
.container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}