body{
    margin: 0;
    font-family: cursive;
}
.app__wrapper{
    min-height: 90vh;
    border: 10px solid #15b6b8;
    border-top: 0;
    border-bottom: 0;
    padding: 1.2em;
    background-image: url('../assets/ramFont.jpg');
}
.form-wrapper{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 2%;
    display: grid;
    background-color: #15b6b8;
    padding: 1em;
    border: solid black 2px;
}
.error-message{
    background-color: red;
}
.container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}