.loading{
    text-align: center;
    animation-duration: 1s;
    animation-name: slidein;
}

.dot {
  opacity: 0;
  animation: dot-animation 1.5s infinite;
}

.dot1 {
  animation-delay: 0.2s;
}

.dot2 {
  animation-delay: 0.4s;
}

.dot3 {
  animation-delay: 0.6s;
}

@keyframes dot-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

  